node_modules
dist
.env
.env.local
.DS_Store
package-lock.json

# Build artifacts
src/**/*.js
src/**/*.js.map
src/**/*.d.ts.map
!src/declarations.d.ts
!src/vite-env.d.ts
*.js
*.js.map
*.d.ts
*.d.ts.map
!vite.config.ts
!tailwind.config.js
!postcss.config.js
